@charset "UTF-8";
@font-face {
  font-family: "Noto Sans TC";
  src: local("Noto Sans TC"), local(Helvetica), local(Arial);
  unicode-range: U+4E00-9FFF, U+00-024F;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype");
  font-display: fallback;
}

body {
  font-family: '微軟正黑體', 'Helvetica', 'Arial';
  src: local("微軟正黑體"), local("Helvetica"), local("Arial");
  font-size: 18px;
  line-height: 1.8;
  min-height: 100vh;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 475px) {
  body {
    line-height: 2;
    font-weight: 300;
  }
}

a {
  cursor: pointer;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a:focus {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a {
  color: #495057;
}

a:focus {
  color: #495057;
}

a:hover {
  color: #495057;
}

a:active {
  color: #495057;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes scrollM {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes scrollM {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@-webkit-keyframes rightGo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes rightGo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@-webkit-keyframes hoverTop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes hoverTop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    transform: translateX(5px);
  }
}

@-webkit-keyframes hoverBottom {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes hoverBottom {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@-webkit-keyframes goBtn {
  0% {
    -webkit-transform: 1;
            transform: 1;
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
}

@keyframes goBtn {
  0% {
    -webkit-transform: 1;
            transform: 1;
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-shadow: 0 0 10px rgba(75, 69, 63, 0.25);
            box-shadow: 0 0 10px rgba(75, 69, 63, 0.25);
  }
}

select:hover {
  cursor: pointer;
}

.narbar-content {
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.narbar-content a {
  display: block;
}

.ReactModal__Overlay {
  z-index: 9999;
}

.ReactModal__Overlay .ReactModal__Content {
  background-color: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ReactModal__Overlay .ReactModal__Content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4B453F;
  position: relative;
}

.ReactModal__Overlay .ReactModal__Content .content .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block;
  position: relative;
  border: 3px solid #4B453F;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 30px;
  height: 30px;
}

.ReactModal__Overlay .ReactModal__Content .content .close:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ReactModal__Overlay .ReactModal__Content .content .close:before {
  content: " ";
  width: 3px;
  height: 15px;
  border-radius: 5px;
  background-color: #4B453F;
  position: absolute;
  top: 22.5%;
  left: 42.5%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ReactModal__Overlay .ReactModal__Content .content .close:after {
  content: " ";
  width: 3px;
  height: 15px;
  border-radius: 5px;
  background-color: #4B453F;
  position: absolute;
  top: 22.5%;
  left: 42.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ReactModal__Overlay .ReactModal__Content .content h2 {
  position: relative;
}

.ReactModal__Overlay .ReactModal__Content .content h2:after {
  content: " ";
  width: 20px;
  height: 5px;
  background-color: #FFC500;
  position: absolute;
  bottom: 15px;
  left: -25px;
}

.ReactModal__Overlay .ReactModal__Content .content p {
  font-size: .85em;
  font-weight: 300;
}

.ReactModal__Overlay .ReactModal__Content .content p span {
  font-weight: 600;
}

.ReactModal__Overlay .ReactModal__Content .content a {
  cursor: pointer;
}

.ReactModal__Overlay .ReactModal__Content .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 0;
}

.ReactModal__Overlay .ReactModal__Content .content ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 5px;
}

.ReactModal__Overlay .ReactModal__Content .content ul li a, .ReactModal__Overlay .ReactModal__Content .content ul li a:link, .ReactModal__Overlay .ReactModal__Content .content ul li a:active {
  text-align: center;
  color: white;
  display: block;
  border-radius: 4px;
  padding: 5px 10px;
}

.ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(1) a, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(1) a:link, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(1) a:active {
  background-color: #3b5998;
}

.ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(1) a:hover, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(1) a:link:hover, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(1) a:active:hover {
  background-color: #4c70ba;
}

.ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(2) a, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(2) a:link, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(2) a:active {
  background-color: #e4405f;
}

.ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(2) a:hover, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(2) a:link:hover, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(2) a:active:hover {
  background-color: #ea6d84;
}

.ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(3) a, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(3) a:link, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(3) a:active {
  background-color: #02b875;
}

.ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(3) a:hover, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(3) a:link:hover, .ReactModal__Overlay .ReactModal__Content .content ul li:nth-child(3) a:active:hover {
  background-color: #03ea95;
}

.keyview img {
  width: 100%;
}

.keyview .kv-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 1120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .keyview .kv-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.keyview .kv-content .title {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.keyview .kv-content .title h1 {
  position: absolute;
  top: .25em;
  left: 1em;
  color: #FFFFFF;
  text-shadow: 2px 2px #4B453F;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-transform: rotate(-4.81deg);
          transform: rotate(-4.81deg);
  font-size: 2.5em;
}

@media screen and (max-width: 475px) {
  .keyview .kv-content .title h1 {
    font-size: 2em;
  }
}

.keyview .kv-content .title h1 .sec-title {
  margin-left: 1em;
}

.keyview .kv-content .img-content {
  width: 100%;
  max-width: 430px;
  min-width: 270px;
}

.block01 .search {
  margin-bottom: 30px;
  max-width: 800px;
  margin: 30px auto;
}

.block01 .search .select-ring-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 475px) {
  .block01 .search .select-ring-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 53.75px;
  }
}

.block01 .search .select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

@media screen and (max-width: 475px) {
  .block01 .search .select-group {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    width: 100%;
  }
}

.block01 .search .select-group select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 475px) {
  .block01 .search .select-group select {
    margin-right: 5px;
  }
}

.block01 .search .ring-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 475px) {
  .block01 .search .ring-item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.block01 .search .ring-item a, .block01 .search .ring-item a:link, .block01 .search .ring-item a:active {
  display: block;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  width: 100%;
  max-width: 53.75px;
  min-width: 53.75px;
}

@media screen and (max-width: 475px) {
  .block01 .search .ring-item a, .block01 .search .ring-item a:link, .block01 .search .ring-item a:active {
    margin: initial;
    margin-bottom: 15px;
  }
}

.block01 .search .ring-item a .number, .block01 .search .ring-item a:link .number, .block01 .search .ring-item a:active .number {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #9D2D2D;
  padding: 5px 12.5px;
  border-radius: 30px;
  color: white;
}

.block01 .search .note {
  color: #9D2D2D;
  font-size: .8em;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .block01 .search .note {
    width: 100%;
  }
}

.block01 .search span {
  display: inline-block;
  width: 1em;
  height: auto;
}

@media screen and (max-width: 475px) {
  .block01 .search span {
    width: 0;
  }
}

.block02 .sort {
  margin-top: 30px;
}

@media screen and (max-width: 475px) {
  .block02 .sort {
    margin-bottom: 15px;
  }
}

.block02 .sort p {
  margin-bottom: 0;
}

.block02 .sort .sort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .block02 .sort .sort-item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

.block02 .sort .sort-item select {
  max-width: 120px;
  border: initial;
  color: #4B453F;
}

.block02 .sort .sort-item select:focus {
  -webkit-box-shadow: initial;
          box-shadow: initial;
}

@media screen and (max-width: 475px) {
  .block02 .sort .sort-item select {
    max-width: 100px;
    font-size: 1em;
  }
}

.block03 .item-title {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .block03 .item-title {
    display: none;
  }
}

.block03 .item-title p {
  margin-left: 5px;
  margin-bottom: 0;
  position: relative;
}

.block03 .item-title p:before {
  content: " ";
  position: absolute;
  left: -20px;
  width: 15px;
  height: 25px;
  background-color: #FFC500;
}

.block04 {
  background-color: rgba(255, 197, 0, 0.25);
  position: relative;
}

.block04 .bg {
  position: absolute;
  background-image: url("../images/bg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block04 .item-content-group {
  padding-top: 30px;
}

@media screen and (max-width: 475px) {
  .block04 .title {
    font-size: 1.5em;
  }
}

.block04 .desc {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .block04 .desc {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 475px) {
  .block04 .desc {
    margin-bottom: 0px;
    font-size: .8em;
  }
}

.block04 a.item {
  margin-bottom: 30px;
  color: #495057;
}

.block04 a.item:focus {
  color: #495057;
}

.block04 a.item:hover {
  color: #495057;
}

.block04 a.item:active {
  color: #495057;
}

.block04 a.item .item-content {
  background-color: white;
  border: 1px solid #4B453F;
  border-radius: 4px;
  padding: 1em 0;
}

@media screen and (max-width: 475px) {
  .block04 a.item .item-content {
    border: initial;
    border-radius: initial;
  }
}

.block04 a.item .item-content .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block04 a.item .item-content .detail .number {
  font-size: 3em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 475px) {
  .block04 a.item .item-content .detail .number {
    font-size: 2em;
  }
}

.block04 a.item .item-content .detail .number p {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.block04 a.item .item-content .detail .number span {
  display: none;
}

@media screen and (max-width: 768px) {
  .block04 a.item .item-content .detail .number span {
    background-color: #FFC500;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 475px) {
  .block04 a.item .item-content .detail .number span {
    margin-top: 10px;
  }
}

.block04 a.item .item-content .detail .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block04 a.item .item-content .detail .map svg {
  width: 30px;
  height: 30px;
  margin: 1em 0;
}

@media screen and (max-width: 475px) {
  .block04 a.item .item-content .detail .map svg {
    margin: 0;
  }
}

.block04 a.item .item-content .hide {
  display: none;
}

.block04 a.item .item-content .time .title {
  margin-bottom: 0;
  padding-right: 0;
}

@media screen and (max-width: 475px) {
  .block04 a.item .item-content .time .title {
    font-size: 1em;
  }
}

.block04 a.item .item-content .time .desc {
  font-size: .8em;
}

.block04 .item-bottom-space {
  display: block;
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 475px) {
  .block04 .item-bottom-space {
    height: 15px;
  }
}

footer {
  text-align: center;
  color: #4B453F;
  font-weight: 300;
  font-size: .85em;
  padding: 30px;
  background-color: rgba(255, 197, 0, 0.25);
}
/*# sourceMappingURL=needmask.css.map */